* {
    font-family: 'Lato';
}
body{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}
#user_input{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
#btn_insert{
  height: 30px;
  padding: 0px 5px;
}
.todo-list{
  width: 100%;
  text-align: left;
}
.todo-list > .todo-item{
  height: 30px;
  border: 1px solid black;
}
.active{
  background-color: green;
  color: white;
}
.header{
  padding: 20px 0;
}
.logo img{
  width: 50%;
  padding: 20px 0;
}
li div{
  width: 100%;
  height: 28px;
  padding: 0 10px;
}
li i {
  width: 28px;
  height: 28px;
  background-color: red;
}
.how-many{
  text-align: center;
}
